:root {
  --off-white: #c5cacf;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tickerWidget {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  background-color: #172d3e;
  color: var(--off-white);
  padding-top: 1%;
  padding-bottom: 1%;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.leftRow {
  display: flex;
  align-items: center;
  /* width: 60%; */
}
